
--USE [eb]
GO
ALTER TABLE [dbo].[SUBJECTS] DROP CONSTRAINT [FK_SUBJECTS_COLLEGE]
GO
ALTER TABLE [dbo].[SECTIONS] DROP CONSTRAINT [FK_SECTIONS_INSTRUCTOR]
GO
ALTER TABLE [dbo].[SECTIONS] DROP CONSTRAINT [FK_SECTIONS_EBOOKS]
GO
ALTER TABLE [dbo].[SECTIONS] DROP CONSTRAINT [FK_SECTIONS_COURSES]
GO
ALTER TABLE [dbo].[INSTRUCTOR] DROP CONSTRAINT [FK_INSTRUCTOR_DEPARTMENTS]
GO
ALTER TABLE [dbo].[DEPARTMENTS] DROP CONSTRAINT [FK_DEPARTMENTS_COLLEGE]
GO
ALTER TABLE [dbo].[COURSES] DROP CONSTRAINT [FK_COURSES_SUBJECTS1]
GO
/****** Object:  Table [dbo].[SUBJECTS]    Script Date: 3/1/2018 11:20:44 AM ******/
DROP TABLE [dbo].[SUBJECTS]
GO
/****** Object:  Table [dbo].[SECTIONS]    Script Date: 3/1/2018 11:20:44 AM ******/
DROP TABLE [dbo].[SECTIONS]
GO
/****** Object:  Table [dbo].[INSTRUCTOR]    Script Date: 3/1/2018 11:20:44 AM ******/
DROP TABLE [dbo].[INSTRUCTOR]
GO
/****** Object:  Table [dbo].[EBOOKS]    Script Date: 3/1/2018 11:20:44 AM ******/
DROP TABLE [dbo].[EBOOKS]
GO
/****** Object:  Table [dbo].[DEPARTMENTS]    Script Date: 3/1/2018 11:20:44 AM ******/
DROP TABLE [dbo].[DEPARTMENTS]
GO
/****** Object:  Table [dbo].[COURSES]    Script Date: 3/1/2018 11:20:44 AM ******/
DROP TABLE [dbo].[COURSES]
GO
/****** Object:  Table [dbo].[COLLEGE]    Script Date: 3/1/2018 11:20:44 AM ******/
DROP TABLE [dbo].[COLLEGE]
GO
/****** Object:  Table [dbo].[COLLEGE]    Script Date: 3/1/2018 11:20:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COLLEGE](
	[COLLEGE_NAME] [nvarchar](255) NULL,
	[COLLEGE_ID] [nvarchar](4) NOT NULL,
 CONSTRAINT [PK_COLLEGE] PRIMARY KEY CLUSTERED 
(
	[COLLEGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COURSES]    Script Date: 3/1/2018 11:20:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSES](
	[COURSE_CODE] [nvarchar](8) NOT NULL,
	[SUBJECT_ID] [nvarchar](4) NULL,
	[COURSE_NUMBER] [nvarchar](4) NULL,
	[HOURS] [int] NULL,
	[COURSE_NAME] [nvarchar](255) NULL,
 CONSTRAINT [PK_COURSES] PRIMARY KEY CLUSTERED 
(
	[COURSE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTMENTS]    Script Date: 3/1/2018 11:20:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENTS](
	[DEPARTMENT_ID] [nvarchar](4) NOT NULL,
	[DEPT_NAME] [nvarchar](255) NULL,
	[COLLEGE_ID] [nvarchar](4) NULL,
 CONSTRAINT [PK_DEPARTMENTS] PRIMARY KEY CLUSTERED 
(
	[DEPARTMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EBOOKS]    Script Date: 3/1/2018 11:20:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EBOOKS](
	[ISBN] [nvarchar](13) NOT NULL,
	[PRICE] [money] NULL,
	[ONLINE_LAB] [nvarchar](255) NULL,
	[PUBLISHER] [nvarchar](255) NULL,
 CONSTRAINT [PK_EBOOKS] PRIMARY KEY CLUSTERED 
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INSTRUCTOR]    Script Date: 3/1/2018 11:20:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INSTRUCTOR](
	[INSTRUCTOR_ID] [int] NOT NULL,
	[INSTRUCTOR_LAST_NAME] [nvarchar](255) NULL,
	[INSTRUCTOR_FIRST_NAME] [nvarchar](255) NULL,
	[INSTRUCTOR_EMAIL] [nvarchar](255) NULL,
	[DEPARTMENT_ID] [nvarchar](4) NULL,
 CONSTRAINT [PK_INSTRUCTOR] PRIMARY KEY CLUSTERED 
(
	[INSTRUCTOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SECTIONS]    Script Date: 3/1/2018 11:20:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SECTIONS](
	[CRN] [nvarchar](5) NOT NULL,
	[SECTION] [nvarchar](255) NULL,
	[ENROLLMENT] [float] NULL,
	[COURSE_CODE] [nvarchar](8) NULL,
	[INSTRUCTOR_ID] [int] NULL,
	[SEMESTER] [nvarchar](10) NULL,
	[SECTION_YEAR] [int] NULL,
	[ISBN] [nvarchar](13) NULL,
 CONSTRAINT [PK_SECTIONS] PRIMARY KEY CLUSTERED 
(
	[CRN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBJECTS]    Script Date: 3/1/2018 11:20:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBJECTS](
	[SUBJECT_ID] [nvarchar](4) NOT NULL,
	[SUBJECT_NAME] [nvarchar](255) NULL,
	[COLLEGE_ID] [nvarchar](4) NULL,
 CONSTRAINT [PK_SUBJECTS] PRIMARY KEY CLUSTERED 
(
	[SUBJECT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[COLLEGE] ([COLLEGE_NAME], [COLLEGE_ID]) VALUES (N'College of Arts & Sciences', N'CAS')
GO
INSERT [dbo].[COLLEGE] ([COLLEGE_NAME], [COLLEGE_ID]) VALUES (N'College of Education & Kinesiology', N'CED')
GO
INSERT [dbo].[COLLEGE] ([COLLEGE_NAME], [COLLEGE_ID]) VALUES (N'College of Business', N'COB')
GO
INSERT [dbo].[COURSES] ([COURSE_CODE], [SUBJECT_ID], [COURSE_NUMBER], [HOURS], [COURSE_NAME]) VALUES (N'ACCT3301', N'ACCT', N'3301', 3, N'Accounting for Non-Accnt Mjrs')
GO
INSERT [dbo].[COURSES] ([COURSE_CODE], [SUBJECT_ID], [COURSE_NUMBER], [HOURS], [COURSE_NAME]) VALUES (N'ACCT3310', N'ACCT', N'3310', 3, N'Intro to Accounting')
GO
INSERT [dbo].[COURSES] ([COURSE_CODE], [SUBJECT_ID], [COURSE_NUMBER], [HOURS], [COURSE_NAME]) VALUES (N'ACCT3311', N'ACCT', N'3311', 3, N'Intermediate Accounting I')
GO
INSERT [dbo].[DEPARTMENTS] ([DEPARTMENT_ID], [DEPT_NAME], [COLLEGE_ID]) VALUES (N'DAAS', N'Department of Arts and Sciences', N'CAS')
GO
INSERT [dbo].[DEPARTMENTS] ([DEPARTMENT_ID], [DEPT_NAME], [COLLEGE_ID]) VALUES (N'DABU', N'Department of Business', N'COB')
GO
INSERT [dbo].[DEPARTMENTS] ([DEPARTMENT_ID], [DEPT_NAME], [COLLEGE_ID]) VALUES (N'DACK', N'Department of Counseling and Kinesiology', N'CED')
GO
INSERT [dbo].[EBOOKS] ([ISBN], [PRICE], [ONLINE_LAB], [PUBLISHER]) VALUES (N'9780390287915', 25.0000, NULL, N'M-H')
GO
INSERT [dbo].[EBOOKS] ([ISBN], [PRICE], [ONLINE_LAB], [PUBLISHER]) VALUES (N'9780390290083', 70.0000, NULL, N'M-H')
GO
INSERT [dbo].[EBOOKS] ([ISBN], [PRICE], [ONLINE_LAB], [PUBLISHER]) VALUES (N'9780390298874', 70.0000, NULL, N'M-H')
GO
INSERT [dbo].[INSTRUCTOR] ([INSTRUCTOR_ID], [INSTRUCTOR_LAST_NAME], [INSTRUCTOR_FIRST_NAME], [INSTRUCTOR_EMAIL], [DEPARTMENT_ID]) VALUES (1, N'ACEVEDO', N'ADELAIDA', N'AACEVEDO@TAMUSA.TAMUS.EDU', N'DAAS')
GO
INSERT [dbo].[INSTRUCTOR] ([INSTRUCTOR_ID], [INSTRUCTOR_LAST_NAME], [INSTRUCTOR_FIRST_NAME], [INSTRUCTOR_EMAIL], [DEPARTMENT_ID]) VALUES (2, N'ALEXANDER', N'AGNES', N'AALEXAND@TAMUSA.TAMUS.EDU', N'DAAS')
GO
INSERT [dbo].[INSTRUCTOR] ([INSTRUCTOR_ID], [INSTRUCTOR_LAST_NAME], [INSTRUCTOR_FIRST_NAME], [INSTRUCTOR_EMAIL], [DEPARTMENT_ID]) VALUES (3, N'ALLEN', N'ALEJANDRO', N'AALLEN@TAMUSA.TAMUS.EDU', N'DAAS')
GO
INSERT [dbo].[SECTIONS] ([CRN], [SECTION], [ENROLLMENT], [COURSE_CODE], [INSTRUCTOR_ID], [SEMESTER], [SECTION_YEAR], [ISBN]) VALUES (N'2001', N'900', 26, N'EDCG5310', 191, N'SPRING', 2012, NULL)
GO
INSERT [dbo].[SECTIONS] ([CRN], [SECTION], [ENROLLMENT], [COURSE_CODE], [INSTRUCTOR_ID], [SEMESTER], [SECTION_YEAR], [ISBN]) VALUES (N'2002', N'901', 29, N'EDCG5310', 101, N'SPRING', 2012, NULL)
GO
INSERT [dbo].[SECTIONS] ([CRN], [SECTION], [ENROLLMENT], [COURSE_CODE], [INSTRUCTOR_ID], [SEMESTER], [SECTION_YEAR], [ISBN]) VALUES (N'2003', N'800', 27, N'EDCG5311', 118, N'SPRING', 2012, NULL)
GO
INSERT [dbo].[SUBJECTS] ([SUBJECT_ID], [SUBJECT_NAME], [COLLEGE_ID]) VALUES (N'ACCT', N'Accounting', N'COB')
GO
INSERT [dbo].[SUBJECTS] ([SUBJECT_ID], [SUBJECT_NAME], [COLLEGE_ID]) VALUES (N'BCOM', N'Business Communications', N'COB')
GO
INSERT [dbo].[SUBJECTS] ([SUBJECT_ID], [SUBJECT_NAME], [COLLEGE_ID]) VALUES (N'BIOL', N'Biology', N'CAS')
GO
ALTER TABLE [dbo].[COURSES]  WITH CHECK ADD  CONSTRAINT [FK_COURSES_SUBJECTS1] FOREIGN KEY([SUBJECT_ID])
REFERENCES [dbo].[SUBJECTS] ([SUBJECT_ID])
GO
ALTER TABLE [dbo].[COURSES] CHECK CONSTRAINT [FK_COURSES_SUBJECTS1]
GO
ALTER TABLE [dbo].[DEPARTMENTS]  WITH CHECK ADD  CONSTRAINT [FK_DEPARTMENTS_COLLEGE] FOREIGN KEY([COLLEGE_ID])
REFERENCES [dbo].[COLLEGE] ([COLLEGE_ID])
GO
ALTER TABLE [dbo].[DEPARTMENTS] CHECK CONSTRAINT [FK_DEPARTMENTS_COLLEGE]
GO
ALTER TABLE [dbo].[INSTRUCTOR]  WITH CHECK ADD  CONSTRAINT [FK_INSTRUCTOR_DEPARTMENTS] FOREIGN KEY([DEPARTMENT_ID])
REFERENCES [dbo].[DEPARTMENTS] ([DEPARTMENT_ID])
GO
ALTER TABLE [dbo].[INSTRUCTOR] CHECK CONSTRAINT [FK_INSTRUCTOR_DEPARTMENTS]
GO
ALTER TABLE [dbo].[SECTIONS]  WITH CHECK ADD  CONSTRAINT [FK_SECTIONS_COURSES] FOREIGN KEY([COURSE_CODE])
REFERENCES [dbo].[COURSES] ([COURSE_CODE])
GO
ALTER TABLE [dbo].[SECTIONS] CHECK CONSTRAINT [FK_SECTIONS_COURSES]
GO
ALTER TABLE [dbo].[SECTIONS]  WITH CHECK ADD  CONSTRAINT [FK_SECTIONS_EBOOKS] FOREIGN KEY([ISBN])
REFERENCES [dbo].[EBOOKS] ([ISBN])
GO
ALTER TABLE [dbo].[SECTIONS] CHECK CONSTRAINT [FK_SECTIONS_EBOOKS]
GO
ALTER TABLE [dbo].[SECTIONS]  WITH CHECK ADD  CONSTRAINT [FK_SECTIONS_INSTRUCTOR] FOREIGN KEY([INSTRUCTOR_ID])
REFERENCES [dbo].[INSTRUCTOR] ([INSTRUCTOR_ID])
GO
ALTER TABLE [dbo].[SECTIONS] CHECK CONSTRAINT [FK_SECTIONS_INSTRUCTOR]
GO
ALTER TABLE [dbo].[SUBJECTS]  WITH CHECK ADD  CONSTRAINT [FK_SUBJECTS_COLLEGE] FOREIGN KEY([COLLEGE_ID])
REFERENCES [dbo].[COLLEGE] ([COLLEGE_ID])
GO
ALTER TABLE [dbo].[SUBJECTS] CHECK CONSTRAINT [FK_SUBJECTS_COLLEGE]
GO
